In [1]:
import pandas as pd
import sweetviz as sz

In [2]:
df = pd.read_csv('unemployment1948.csv')

In [3]:
df

    Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec  Annual
0   1948  4.0  4.7  4.5  4.0  3.4  3.9  3.9  3.6  3.4  2.9  3.3  3.6     3.8
1   1949  5.0  5.8  5.6  5.4  5.7  6.4  7.0  6.3  5.9  6.1  5.7  6.0     5.9
2   1950  7.6  7.9  7.1  6.0  5.3  5.6  5.3  4.1  4.0  3.3  3.8  3.9     5.3
3   1951  4.4  4.2  3.8  3.2  2.9  3.4  3.3  2.9  3.0  2.8  3.2  2.9     3.3
4   1952  3.7  3.8  3.3  3.0  2.9  3.2  3.3  3.1  2.7  2.4  2.5  2.5     3.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...     ...
64  2012  8.8  8.7  8.4  7.7  7.9  8.4  8.6  8.2  7.6  7.5  7.4  7.6     8.1
65  2013  8.5  8.1  7.6  7.1  7.3  7.8  7.7  7.3  7.0  7.0  6.6  6.5     7.4
66  2014  7.0  7.0  6.8  5.9  6.1  6.3  6.5  6.3  5.7  5.5  5.5  5.4     6.2
67  2015  6.1  5.8  5.6  5.1  5.3  5.5  5.6  5.2  4.9  4.8  4.8  4.8     5.3
68  2016  5.3  5.2  5.1  4.7  4.5  5.1  5.1  5.0  4.8  4.7  4.4  4.5     4.9

[69 rows x 14 columns]

In [5]:
#analyzing the dataset
umemployment_report = sz.analyze(df)

:FEATURES DONE:                    |                     | [  0%]   00:08  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [6]:
#display the report
umemployment_report.show_html('Umemployment since 1948.html')

In [7]:
df1 = sz.compare(df[34:],df[:34])
df1.show_html('Compare.html')

:FEATURES DONE:                    |                     | [  0%]   00:09  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [8]:
meta = pd.read_csv('5cl_meta.csv')

In [9]:
meta_report = sz.analyze(meta)

:FEATURES DONE:                    |                     | [  0%]   00:00  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [10]:
#display the report
meta_report.show_html('Single cell meta.html')

In [12]:
meta_1 = meta.iloc[:,1::]
# or 
# meta1 = meta.drop('cellID',axis = 1)

In [13]:
meta_1

      Labels  Groups  Status Sex
0     HCC827       1      HC   M
1       H838       1      HC   M
2     HCC827       1      HC   M
3     HCC827       1      HC   M
4     HCC827       1      HC   M
...      ...     ...     ...  ..
3798   H2228       5  Server   M
3799  HCC827       5  Server   M
3800    A549       5  Server   M
3801    A549       5  Server   M
3802    H838       5  Server   M

[3803 rows x 4 columns]

In [14]:
meta1_report = sz.analyze(meta_1)
meta1_report.show_html("meta1.html")

:FEATURES DONE:                    |                     | [  0%]   00:00  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [15]:
meta.head()

        cellID  Labels  Groups Status Sex
0  Lib90_00000  HCC827       1     HC   M
1  Lib90_00002    H838       1     HC   M
2  Lib90_00003  HCC827       1     HC   M
3  Lib90_00004  HCC827       1     HC   M
4  Lib90_00005  HCC827       1     HC   M

In [18]:
###  last example
#Students Performance in Exams data set from Kaggle
train = pd.read_csv('train2.csv')
train.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [19]:
my_report = sz.analyze([train, "Train"],target_feat='math score')
my_report.show_html()

:FEATURES DONE:                    |█████████████████████| [100%]   00:04  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

In [20]:
#home sales prices
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [22]:
#compare
my_report1 = sz.compare([train, "Train"], [test, "Test"], "SalePrice")
my_report1.show_html()

:FEATURES DONE:                    |█████████████████████| [100%]   00:46  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:10  -> (00:00 left)

Creating Associations graph... DONE!